<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'agents')}">

<body>

<div class="card text-white bg-secondary">
    <h4 class="card-header">
        <blockquote class="blockquote text-center">
            Agents' List
        </blockquote>
    </h4>

    <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="card-body">
            <table class="table table-hover table-bordered table-dark">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Agent Name</th>
                        <th scope="col">Password</th>
                        <th scope="col">Score</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="agent : ${agents}">
                        <td th:text="${agent.name}"></td>
                        <td th:text="${agent.password}"></td>
                        <td th:text="${agent.score}"></td>
                        <td><a th:href="@{/sw/agent/{id}/initForm(id=${agent.agentId})}" th:text="Edit"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
    </div>

</body>
</html>