<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'editQuestion')}">

<body>

<div class="card w-75 text-white bg-secondary">
    <h4 class="card-header blockquote text-center">
        Quiz
    </h4>
    <form th:Object="${initQ}" action="#" th:action="@{/sw/quiz/{id}/editQuestion(id=${initQ.quizId})}" method="POST">
        <div class="card-body">
            <input type="hidden" th:field="*{quizId}">

            <div class="form-group row">
                <label for="questionTxt" class="col-sm-3 col-form-label">Question:</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{question}" class="form-control" id="questionTxt" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="rightAnswerTxt" class="col-sm-3 col-form-label">Right answer:</label>
                <div class="col-sm-9">
                    <input type="text" th:field="*{rightAnswer}" class="form-control" id="rightAnswerTxt" required>
                </div>
            </div>

            <div th:each="wrongAnswer, itemStat : *{wrongAnswers}">
                <div class="form-group row">
                    <label for="wrongAnswersTxt" class="col-sm-3 col-form-label">Wrong answer
                        <span th:text="${itemStat.index + 1}"></span>:
                    </label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{wrongAnswers[__${itemStat.index}__]}" class="form-control" id="wrongAnswersTxt" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group row">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-warning">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>