<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<blockquote class="blockquote text-center">
    <h1>Quiz</h1>
</blockquote>

<!--ol>
<th:block th:each = "question : ${quiz}">
    <li>
        <p th:text = "${question.question}"></p>
        <p th:text = "${question.rightAnswer}"></p>
        <th:block th:each = "wrongAnswer : ${question.wrongAnswers}">
            <p th:text = "${wrongAnswer}"></p>
        </th:block>
    </li>
</th:block>
</ol-->
<div class="card text-white bg-secondary">
    <h4 class="card-header">
        <blockquote class="blockquote text-center">
            Agents' List
        </blockquote>
    </h4>

    <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="card-body">
            <a href="/login">Agent LogIn</a>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>

</body>
</html>