<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'graph')}">

<body>

<div class="card w-50 text-white bg-secondary blockquote text-center">
    <h3 class="card-header">
        Statistics
    </h3>

    <div class="card-body">
        <ul>
            <li th:each="wrongA : ${wrongSta}">
                <span th:text="${wrongA}"></span>
            </li>
        </ul>
    </div>

    <div class="card-footer">

    </div>
</div>

</body>
</html>